{% extends 'base.html' %}
{% block title %} All profile {% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
      <ul class="messages btn btn-success">
          {% for message in messages %}
          {{ message}}
          {% endfor %}
      </ul>
    {% endif %}
    <div class="row">
        {% for i in all%}
        <div class="card my-2 mx-2" style="width: 18rem;">
            <img class="card-img-top" height="300px" width="250px" src="{{i.image.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <h5 class="card-title">{{i.email}}</h5>
                <p class="card-text">{{i.address}}</p>
                <a href="{% url 'singleProf' i.id %}" class="btn btn-primary">See Details</a>
                <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}